# Supabase Dashboard > Settings > API Keys
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=

# Supabase Dashboard > Connect > Connection string
DATABASE_URL=

# Local app URL (optional)
NEXT_PUBLIC_APP_URL=http://localhost:3000
