.frame {
  position: relative;
  min-height: 100vh;
  isolation: isolate;
  background: var(--color-background);
}

.content {
  position: relative;
  z-index: 1;
  margin-left: 5.75rem;
  min-height: 100vh;
}
